<form method="post" action="{{ path('expense_delete', {'id': expense.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expense.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
