{% extends 'base.html.twig' %}

{% block title %}Modification de {{ expense.expenseType }}{% endblock %}

{% block body %}
    <h1>Modification de {{ expense.expenseType }}</h1>

    {{ include('expense/_form.html.twig', {'button_label': 'Modifier'}) }}

    <br />
    {{ include('expense/_delete_form.html.twig') }}

    <a class = "btn btn-secondary returnBtn" href="{{ path('expense_index') }}">Retour à la liste</a>

{% endblock %}
