{% extends 'base.html.twig' %}

{% block title %}Crud - Expense{% endblock %}

{% block body %}
    <h1>Crud - Expense</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Ratio</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.expenseType }}</td>
                <td>{{ expense.ratio }}</td>
                <td>
                    <a class = "btn btn-primary" href="{{ path('expense_show', {'id': expense.id}) }}">Détail</a>
                    <a class = "btn btn-secondary" href="{{ path('expense_edit', {'id': expense.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-primary" href="{{ path('expense_new') }}">Créez-en un</a>
{% endblock %}
