{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau type{% endblock %}

{% block body %}
    <h1>Création d'un nouveau type</h1>

    {{ include('expense/_form.html.twig') }}

    <a class = "btn btn-secondary returnBtn" href="{{ path('expense_index') }}">Retour à la liste</a>
{% endblock %}
