{% extends 'base.html.twig' %}

{% block title %}Expense{% endblock %}

{% block body %}
    <h1>Expense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>ExpenseType</th>
                <td>{{ expense.expenseType }}</td>
            </tr>
            <tr>
                <th>Ratio</th>
                <td>{{ expense.ratio }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('expense/_delete_form.html.twig') }}

    
    <a class = "btn btn-secondary returnBtn" href="{{ path('expense_index') }}">Retour à la liste</a>

    <a class = "btn btn-secondary returnBtn" href="{{ path('expense_edit', {'id': expense.id}) }}">Modifier</a>

{% endblock %}
